@import "partials/params";
@import "partials/mixins";



.auth{
	display: flex;
	flex: 0 0 $auth-height;
	width: 100%;
	align-items: center;
	justify-content: space-around;
	&__link{
		text-transform: uppercase;
		color: #fff;
		font-weight: bold;
	}
}