@import "partials/params";
@import "partials/mixins";

$font-color: #fff;

.nav{
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	flex: 0 0 $nav-height;
	padding: 0 30px;	
	color: $font-color;
	background:transparent;
	
	&__brand{
		margin-left: 20px;
		font-weight: bold;
		font-size: 20px;
	}

	&__menu{
		@include clear-list;
		display: flex;
		height: $nav-height;

	}

	&__item{
		margin: 22px 15px 5px;
		position: relative;
		font-size: 12px;
		&:hover{
			.nav__menu-border{
				opacity: 1;
			}
		}
	}

	&__link{
		color: $font-color;
	}

	&__menu-border{
		display: block;		
		position: absolute;
		bottom: 0;
		opacity: 0;
		height: 1px;
		width: 100%;
		background: $font-color;
		transition: 0.3s opacity ;
	}
}